@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  @apply scroll-mt-[76px];
}

*,
html {
  scroll-behavior: smooth !important;
}

.slick-prev {
  left: 10px;
  z-index: 900;
}

.slick-next {
  right: 10px;
  z-index: 900;
}

.slick-dots {
  bottom: 10px;
  color: white;
}

.swiper-button-prev::after {
  color: white;
}

.swiper-slide {
  width: fit-content;
}

.swiper-button-next::after {
  color: white;
}
